<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/proyectos.css">
    <title>Listado de proyectos</title>
</head>
<body>
    <header>
            <button type="button">Listar proyectos</button>
            <button type="button">Filtrar por empresa</button>
            <button type="button">Filtrar por proyecto</button>
            <button type="button">Filtar por tipo</button>       
    </header>
    <main>
        
    </main>

    <script type="module" src="../../js/validator.js"></script>
</body>
</html>